*{
	box-sizing: border-box;/*To ensure contents fits into the page perfectly*/
	margin: 0;
	padding: 0;
}

/*General styling of the html body */
body{	
	overflow: auto;
	background-color: hsl(243, 100%, 93%);
}

/*Overall container of the section*/
#main .container{
	background-image: url(./images/bg-desktop.svg);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 100% 50%;
	background-color: hsl(229, 57%, 11%);
	height: 40%;
	margin: 5% 8%;
	padding: 10% 8%;
}

/*Storage Option Styling*/
#main .container .section-left{
	background-color: hsl(228, 56%, 26%);
	width: 35%;
	border-radius: 10px 70px 10px 10px;
	display: inline-block;
}

#main .container .section-left .logo{
	padding:40px;
	padding-bottom: 20px;
}

#main .container .section-left .storage-section{
	padding-bottom: 20px;
	padding-left: 40px;
}

#main .container .section-left .storage-section img{
	margin-right: 10px;
	padding: 8px;
	background-color:hsl(229, 57%, 11%);
	border-radius: 5px;
	width: 40px;
	height: 35px;
}

/*Storage Info Styling*/
#main .container .section-right{
	display: inline-block;
	width: 60%;
	margin-left: 20px;
	background-color: hsl(228, 56%, 26%);
	border-radius: 10px;
	height: 150px;
	position: relative;
	top:40px;
}

#main .container .section-right p{
	padding: 30px 25px;
	padding-bottom: 20px;
	color: #fff;	
}

#main .container .section-right input{
	width: 90%;
	margin: 0 20px;
}

#main .container .section-right .range{
	margin: 0 20px;
	margin-bottom: 20px;
}

#main .container .section-right .range h4{
	display: inline-block;
	color: #fff;
	font-size: 0.9em;
	font-weight: 100;
	margin-right: 80%;
}

#main .container .section-right .range h3{
	display: inline-block;
	color: #fff;
	font-size: 0.9em;
	font-weight: 100;
}

#main .container .section-right .result{
	position: relative;
	top: -160px;
	right: -320px;
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	width: 140px;
}

#main .container .section-right .result p{
	padding: 10px;
	color: hsl(229, 7%, 55%);
	text-align: center;
	font-size: 0.7em;
}

#main .container .section-right .result span{
	font-size: 2.3em;
	color: hsl(229, 57%, 11%);
	font-weight: 700;
	font-family: 'Raleway';
}

/*Footer Styling*/
footer .attribution { 
	font-size: 11px; 
	text-align: center; 
	margin-bottom: 10px;
}

footer .attribution a {
	color: hsl(228, 45%, 44%); 
	text-decoration: none;
}

footer .attribution a:hover {
	font-size:13px;
	color:	 #ff1ab3;
}



/*Responsiveness for mobile*/
@media only screen and (min-width: 200px) and (max-width: 920px){	
	#main .container{
		padding: 10px;
		margin: 15px;
		background-image: url(./images/bg-mobile.svg);
		background-position: top left;
		background-size: 100% 100%;
		height: 100%;
	}
	
	#main .container .section-left{
		width: 270px;
		margin: 50px 7%;
		display: block;
	}
	
	#main .container .section-right{
		width: 270px;
		display: block;
		top: 0;
		margin: 10px 7%;
		margin-bottom: 40px;
	}
	
	#main .container .section-right p{
		font-size: 0.8em;
	}
	
	#main .container .section-right input{
		width:200px;
		margin: 0 20px;
	}

	#main .container .section-right .range h4{
		font-size: 0.8em;
		margin-right: 60%;
	}
	
	#main .container .section-right .range h3{
		font-size: 0.8em;
	}
	
	#main .container .section-right .result{
		top:5px;
		right:-80px;
		width: 100px;
		padding: 5px;
	}
	
	#main .container .section-right .result p{
		font-size: 0.6em;
		padding: 4px;
	}
}


/*Responsiveness for tablets*/
@media only screen and (min-width: 921px) and (max-width: 1200px){
	#main .container{
		padding: 10% 3%;
		margin: 5% 5%;
		height: 100%;
	}	
}
